/* cssForUpload.css */

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-trianglify-b79c7e1f.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000; /* Text color for the heading */
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid #000000; /* Border color for the button */
    color: #000000; /* Text color for the button */
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .uploaded-image {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to the image */
  }
  
  