/* Common styles */
body {
  background-color: #f0f0f0; /* Light gray background */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Container for the whole app */
.ig-container {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0; /* Changed to match body for a consistent background */
  color: rgb(0, 0, 0);
}

/* Panels */
.ig-left-panel, .ig-right-panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles specific to image generator */
.ig-imageGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ig-header {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
}

.ig-img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.ig-img-loading-image img {
  width: 50px;
}

.ig-img-loading-text {
  font-weight: bold;
}

.ig-image img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

/* Input and Buttons */
.ig-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ig-search-input {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.ig-generate-btn, .ig-download-btn {
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.ig-generate-btn {
  background-color: #007bff;
}

.ig-generate-btn:hover {
  background-color: #0056b3;
}

.ig-download-btn {
  background-color: #28a745;
}

.ig-download-btn:hover {
  background-color: #218838;
}

/* Responsive design adjustments */
@media (max-width: 900px) {
  .ig-message-input-container {
    width: 90%;
  }

  .ig-send-button, .ig-attach-button {
    margin: 0; /* Adjust margin for smaller screens */
  }
}

/* Styles for chat messages */
.ig-user-message .cs-message__content {
  background-color: #b3d9ff;
  color: #000;
}

.ig-ai-message .cs-message__content {
  background-color: #d4d3cc;
  color: #000;
}

/* Randomization feature styles */
.ig-randomizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ig-randomize-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.ig-randomize-btn:disabled {
  background-color: #0056b3;
  cursor: not-allowed;
}
